version: '3.8'

services:
  proxy:
    build:
      context: ./web
      dockerfile: DockerfileWebJLL
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./web/certs:/etc/nginx/certs
    depends_on:
      - frontend
      - backend
      - phpmyadmin
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: DockerfileFrontendJLL
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: DockerfileBackendJLL
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - database
    command: >
      sh -c "composer install && composer show doctrine/dbal && php -S 0.0.0.0:8000 -t public"
    networks:
      - app-network

  database:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: JLL_BD
      MYSQL_USER: alumnoDAW
      MYSQL_PASSWORD: passJLL
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
      - database_data:/var/lib/mysql
    env_file:
      - .env
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: database
      PMA_USER: alumnoDAW
      PMA_PASSWORD: passJLL
    depends_on:
      - database
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  database_data: